<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<script type="module" src="index.js"></script>
	</head>
	<body>
		<h1>Playground for ServiceEntry component</h1>
	<script></script>
		<script type="importmap">
			{
				"imports": {
				"@alkimia/lib": "/node_modules/@alkimia/lib/index.mjs",
				"@workspace/common": "/shared/libs/common/index.js"
				}
			}
		</script>
		<script>
            window.addEventListener('load', () => {});
		</script>
	</body>
</html>
